.modal {
    width: 90%;
    background-color: #fff;
    position: absolute;
    top: 15%;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.modal-container {
    display: flex;
    flex-direction: column;
}
.header-modal {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    border-bottom: 1px solid #ff0000d2;
}
.title {
    width: 80%;
    color: #ff0000;
    font-weight: 300;
}
.title h1 {
    font-size: 40px;
}
.close-btn {
    width: 10%;
    display: inline-block;
    text-align: end;
    padding-top: 25px;
}
.close-btn button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.body {
    padding: 0 20px;
    font-size: 25px;
    color: #000000;
    border-bottom: 1px solid #ff0000d2;

    p{
        background-color: #ea6c6c8a;
        padding: 20px;
    }
}

.footer {
    flex: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 15px 20px;
}

.footer button{
    font-size: 22px;
    color: #fff;
    margin-left: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.cancel-btn{
    background-color: #059c19;
}
.delete-btn{
    background-color: #ff0000;
}