.todos{
    display: grid;
}

.scroll{
    height: 500px;
    overflow-y: scroll;
}

.button{
    margin: 0 10px;
    padding: 10px;
    font-size: 14px;
    color: #6c6777;
    background-color: #fff;
    border: none;
    cursor: pointer;
    width: 100px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.button.clear{
    float: right;
    color: #fff;
    background-color: #ee1630;
    width: 170px;
}